{% extends "base.html" %}
{% block body %}
<div class="container my-4">
    <!--card_1-->
    <div class="cntainer">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">First
                    featurette heading. <span class="text-muted">It’ll
                        blow your mind.</span></h2>
                <p class="lead">Some great placeholder content for the
                    first featurette here. Imagine some exciting prose
                    here.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg
                featurette-image img-fluid mx-auto" width="500"
                height="500" src="/static/img/match11.jpg" alt="">
            </div>
        </div>
    </div>
    <!--divider-->
    <hr class="featurette-divider">
    <!--card_2-->
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Oh yeah,
                    it’s that good. <span class="text-muted">See for
                        yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More
                    placeholder content here to give you an idea of how
                    this layout would work with some actual real-world
                    content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg
                featurette-image img-fluid mx-auto" width="500"
                height="500" src="/static/img/match12.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-group">
        <div class="card">
          <img src="/static/img/match13.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="/static/img/match14.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="/static/img/match15.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
</div>


{% endblock %}